@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

*{
    font-family: "Tinos", serif;
}

:root{
    --color-primary: #FAF9F6;
    --color-primary-dull: #000000;
    --color-light: #e0e0e0;
    --color-borderColor: #000000;
    --color-accent: #FFC107;
}